@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <style>
        body {
            font-family: Arial, sans-serif;
            margin-bottom: 60px;
            background-color: saddlebrown;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }

        .content-wrapper {
            text-align: center;
            color: white;
            margin-top: 50px;
        }

        .welcome-message {
            font-size: 2em;
            margin-bottom: 20px;
        }

        .action-buttons a {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            background-color: white;
            color: saddlebrown;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
        }

            .action-buttons a:hover {
                background-color: lightgray;
            }
    </style>
}

<div class="content-wrapper">
    <div class="welcome-message">Welcome to Our Home Page!</div>
    <div class="action-buttons">
        <a asp-controller="Home" asp-action="About">About Us</a>
        <a asp-controller="Home" asp-action="Contact">Contact Us</a>
    </div>
</div>
