@* @model PagedList.IPagedList<HR.ViewModel.Depatmentvm>
 *@

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Cafiee</h1>
 </div>
