@model Cf_Viewmodels.productVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.Title = "Save Product";
}


    <h2>Create Product</h2>

    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Save" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Qantity" class="control-label"></label>
                    <input asp-for="Qantity" class="form-control" />
                    <span asp-validation-for="Qantity" class="text-danger"></span>
                </div>
                <div class="col">
                <label asp-for="CategoryTyPe" class="form-label" style="font-weight: bold;">CategoryId:</label>
                <select class="form-select glass-select same-width" asp-for="CategoryTyPe" asp-items="Model.CategoryIdList"
                            data-placeholder="Select CategoryId" style="z-index: 1;">
                        <option value=""></option>
                    </select>
                <span asp-validation-for="CategoryTyPe" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Discount" class="control-label"></label>
                    <input asp-for="Discount" class="form-control" />
                    <span asp-validation-for="Discount" class="text-danger"></span>
                </div>
              
                <div class="form-group">
                    <div id="imagePreview" class="row"></div>
                </div>
                <div class="form-group">
                    <div class="button-group">
                        <button type="submit" id="savedata" class="btn btn-primary">
                            @if (Model.Id > 0)
                            {
                                @:Update
                            }
                            else
                            {
                                @:Add New
                            }
                        </button>
                    </div>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
<partial name="_AlertMessage"   />

    @section Scripts {
        

         @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
