@*  
 @if (TempData.ContainsKey("Message"))
{
    @if (TempData.ContainsKey("MessageType"))
    {
        @Html.Raw(BuildAlertDiv(TempData["MessageType"].ToString(), TempData["Message"].ToString()))
    }
}

@functions {
    string BuildAlertDiv(string messageType, string message)
    {
        string alertClass = GetAlertClass(messageType);
        return $@"
    <div class='position-absolute top-0 end-0 m-3 alert alert-dismissible {alertClass}' style='height:50px; max-width:300px;'>
        <button type='button' class='btn-close' data-bs-dismiss='alert'></button>
    {message}
        <strong></strong> <a href='#' class='alert-link'></a>
    </div>";
    }

    string GetAlertClass(string messageType)
    {
        switch (messageType)
        {
            case "Save":
                return "alert-primary";
            case "Edit":
                return "alert-info";
            case "Delete":
                return "alert-danger";
            default:
                return "alert-secondary"; // Default to a neutral alert style
        }
    }
}
 *@











@if (TempData.ContainsKey("Message"))
{
    @if (TempData.ContainsKey("MessageType"))
    {
        @Html.Raw(BuildAlertDiv(TempData["MessageType"].ToString(), TempData["Message"].ToString()))
    }
}

@functions {
    string BuildAlertDiv(string messageType, string message)
    {
        string alertClass = GetAlertClass(messageType);
        return $@"
    <div class='d-flex justify-content-center align-items-center position-fixed top-50 start-50 translate-middle alert alert-dismissible {alertClass}' style='height:50px; max-width:500px; z-index: 1055;'>
        <button type='button' class='btn-close' data-bs-dismiss='alert'></button>
    {message}
        <strong></strong> <a href='#' class='alert-link'></a>
    </div>";
    }

    string GetAlertClass(string messageType)
    {
        switch (messageType)
        {
            case "Save":
                return "alert-primary";
            case "Edit":
                return "alert-info";
            case "Delete":
                return "alert-danger";
            default:
                return "alert-secondary"; // Default to a neutral alert style
        }
    }
}
